<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MWF.Mobile.Android" android:versionName="1.0.8" android:installLocation="auto" android:versionCode="14">
	<uses-sdk />
	<application android:label="Mobile Worker Flow" android:icon="@drawable/Icon" android:theme="@style/ProteoNoMargins">
		<activity android:name="net.hockeyapp.android.UpdateActivity" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>